<div class="navbar navbar-light navColor  nav-search">

  <div class="navbar-brand">
    <img src="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.15.0/mercadolibre/logo__small.png" class="mt-1"
      alt="">
  </div>

  <div class="col">
    <input type="text" (ngModelChange)="search()" [(ngModel)]="entrada" class="nav-search-input"
      aria-label="Ingresá lo que quieras encontrar" name="as_word" placeholder="Buscar productos, marcas y más…"
      maxlength="120" autofocus="" spellcheck="false" tabindex="2">
  </div>

</div>

<div class="container-fluid cont mb-2" *ngIf="entrada">
  <br>
  <h5> {{entrada}} </h5>
  <br>
</div>


<div>

  <div *ngFor="let uno of products.results">
    <div class="container text-align-left">
      <div class="row">
        <div class="col">
          <img src="{{uno.pictures[0].url}}" alt="" height="90px">
        </div>

        <div class="col">
          <b>{{uno.name}}</b>
        </div>

      </div>
    </div>
    <hr>
  </div>
</div>


<router-outlet></router-outlet>
